@import url(/assets/css/calculatorstyle.css);
@import url(/assets/css/footerheaderstyle.css);

:root {
    --gray: #6F6F6F;
    --dark-gray: #1C1C1C;
    --white: #FFFFFF;
    --green: #1DDD31;
    --light-gray: #ABABAB;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    border: none;
    outline: none;
}

.body {
    font-family: 'Roboto', sans-serif;
    font-family: 'RocknRoll One', sans-serif;
    overflow-x: hidden;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 100%;
    background-image: url(../img/dehya_bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
}

.default-container {
    max-width: 110rem;
    margin: auto;
}

.main {
    margin-top: 12rem;
}

.calculator-nav {
    display: grid;
    grid-template-columns: repeat(auto-fit, 3rem);
    gap: 3rem;
    justify-content: center;
}

.calculator-nav__item {
    height: 100%;
    width: 100%;
}

.calculator-nav__button {
    height: 3rem;
    width: 3rem;
    background-color: var(--dark-gray);
    border-radius: 3rem;
    color: var(--white);
    text-shadow: 2px 2px 2px black;
    font-size: 0.5rem;
    cursor: pointer;
}

.def-paragraph {
    font-size: 0.8rem;
    color: var(--white);
    text-shadow: 1px 1px 1px black;
    text-align: center;
    margin-bottom: 1.25rem;
}

.active-element {
    background-color: var(--green);
}

.active-block {
    display: grid;
}