* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    grid-template-rows: auto auto 200px;
    grid-template-columns: 100%;
    background-image: url(/assets/img/Nilou-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header {
    margin-bottom: 200px;
    position: sticky;
    top: 0;
    z-index: 1;
}

.default-container {
    max-width: 1770px;
    margin: auto;
}

.header-nav-desc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 100%;
}

.header__links {
    display: flex;
    list-style: none;
}

.main {
    height: 100vh;
}

.header__logo {
    font-size: 2rem;
    color: #FFFFFF;
    text-shadow: 1px 1px 1px black;
    font-family: 'RocknRoll One', sans-serif;
}

.header__link {
    text-decoration: none;
    font-size: 1.5rem;
    color: #FFFFFF;
    text-shadow: 1px 1px 1px black;
    margin-left: 36px;
}

.footer__paragraph {
    color: #C6C6C6;
    font-size: 1.25rem;
    text-shadow: 1px 1px 1px black;
    text-align: center;
    margin: 20px;
}

.social-madia__img {
    width: 50px;
    height: 50px;
    margin: 10px;
}

.social-madia {
    width: 100%;
    display: flex;
    justify-content: center;
}